@import "../../app/variables.scss";

.select_block {
  background-color: $background;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  transition: all 0.3s;
  &:hover {
    background-color: $primary-hover;
    color: white;
  }
}
