.container {
  padding: 4rem 2rem 3rem;

  .heading {
    margin-bottom: 2rem;
    text-align: center;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
