@import "../../app/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  margin: 0 auto;
  padding: 16px;
  align-items: center;

  h3 {
    margin-bottom: 18px;
  }
}

.block_link {
  background: none;
  display: block;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  transition: all 0.3s;
  min-width: 143px;
  &:hover {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
    color: $foreground;
  }
}
