@import "../../app/variables.scss";

.ring {
  transform: rotate(-90deg);

  circle {
    stroke: $primary;
    fill: transparent;
    stroke-width: 5px;
  }
}

.text {
  font-size: $font-xl;
  transform: translateY(-122px);
}
