@import "../../app/variables.scss";

.block_link {
  background: none;
  display: block;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  transition: all 0.3s;
  width: 100%;
  max-width: 143px;
  margin: 0 auto;
  &:hover {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
    color: $foreground;
  }
}

.time_display {
  font-size: 4rem;
  &_label {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
