@import "../../app/variables.scss";

.block_link {
  background: none;
  display: block;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  transition: all 0.3s;
  &:hover {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
    color: $foreground;
  }
}
